<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

    <title>LivFit</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/main.css') }}"/>
    <link rel="stylesheet" href="/static/css/normalize.css"/>
    <link rel="stylesheet" href="/static/css/styles.css"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.1.1/dist/chart.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <ul class="nav nav-tabs">
          <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="http://127.0.0.1:5000/customerassistance/">Customer Assistance</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://127.0.0.1:5000/customerprofile">Back</a>
          </li>
        </ul>
        </ul>
      </div>
    </div>
</nav>
<div class="card-wrapper">
<div class="card">
    <h1 class="center">"Comparison of Average Exercise Time"</h1>
    <p>Your Average Exercise Time is : {{customer_avg}} minutes</p>
    <p>Overall Average Exercise Time is: {{total_avg}} minutes</p>

    <h2 class="center">"Most Popular Exercises"</h2>
    <p>1. {{popular[0]}}</p>
    <p>2. {{popular[1]}}</p>
</div>
</div>
<h3 class="center">"Your Progress Report"</h3>
    <canvas class="center" id="linechart" width="900" height="400"></canvas>
    <script>
      var ctx = document.getElementById("linechart").getContext("2d");
      var linechart = new Chart(ctx, {
        type: "line",
        data: {
          labels: {{ labels | safe }},
          datasets: [
            {
              label: "Data Points",
              data: {{ values | safe }},
              fill: false,
              borderColor: "rgh(75, 192, 192)",
              lineTension: 0.1
            }
          ]
        },
        options: {
          responsive: false
        }
      });
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>
